.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #013D79 !important;
}

.Button:active {
    background-color: #013D79 !important;
}

.Button:focus {
    background-color: #013D79;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.BlueOutline:hover,
.Bright:hover {
    background-color: #00528E;
    color: #ffffff;
}

.Black {
    background-color: #0d0d0d;
    color: #ffffff;
}

.Black:hover,
.BlackOutline {
    background-color: #00528E;
    color: #ffffff;
}
