.Form {
    border: none;
    border-bottom: 2px #00528e solid;
}

.Button {
    border: none;
    background-color: #0d0d0d;
    color: #ffffff;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #00528e;
    color: #ffffff;
}