.NavBar {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.logo {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 2.2rem;
}

.logoText {
    display: none
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #181c27;
}

@media (min-width: 768px) {
    .logoText {
        display: inline-block;
    }
}